* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app .page-wrapper {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  position: relative;
}
#app .page-wrapper .side {
  width: 60px;
  height: calc(100% - 60px);
  background-color: #212d3a;
}
#app .page-wrapper .side.left {
  position: absolute;
  left: 0;
  top: 0;
}
#app .page-wrapper .side.right {
  position: absolute;
  right: 0;
  top: 0;
}
#app .page-wrapper header {
  width: calc(100% - 120px);
  height: 80px;
  background-color: #000000;
  margin: 0px auto;
}
#app .page-wrapper header nav {
  height: 100%;
  width: 1200px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#app .page-wrapper header nav .logo-box {
  width: 50px;
}
#app .page-wrapper header nav .logo-box img {
  width: 100%;
  border-radius: 50%;
}
#app .page-wrapper header nav .nav-rightSide {
  display: flex;
}
#app .page-wrapper header nav .nav-rightSide .select-genre select {
  margin-right: 15px;
  text-transform: capitalize;
}
#app .page-wrapper header nav .nav-rightSide .search input {
  padding-left: 5px;
  width: 250px;
}
#app .page-wrapper main {
  width: calc(100% - 120px);
  height: calc(100% - 140px);
  margin: 0px auto;
  background-color: #191919;
  overflow-y: scroll;
}
#app .page-wrapper main .main-centerPage {
  width: 1200px;
  margin: 0px auto;
  padding-top: 80px;
  position: relative;
}
#app .page-wrapper main .main-centerPage .error {
  width: 1000px;
  height: 500px;
  position: absolute;
  background-image: url("../images/error.png");
  background-repeat: no-repeat;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
#app .page-wrapper main .main-centerPage .cardsContainer {
  width: 100%;
  content: "";
  display: table;
  clear: both;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#app .page-wrapper main .main-centerPage .cardsContainer .albumCard-box {
  margin-right: 30px;
  width: 280px;
  height: 380px;
  background-color: #000000;
  padding: 15px;
  margin-bottom: 15px;
}
#app .page-wrapper main .main-centerPage .cardsContainer .albumCard-box .album-img {
  margin: 0px auto;
  width: 250px;
  height: 250px;
  margin-bottom: 15px;
}
#app .page-wrapper main .main-centerPage .cardsContainer .albumCard-box .album-img img {
  width: 100%;
}
#app .page-wrapper main .main-centerPage .cardsContainer .albumCard-box .album-title {
  text-align: center;
  color: #e2e2e2;
  margin-bottom: 15px;
}
#app .page-wrapper main .main-centerPage .cardsContainer .albumCard-box .artist {
  text-align: center;
  color: #6a6a6a;
}
#app .page-wrapper main .main-centerPage .cardsContainer .albumCard-box .year {
  text-align: center;
  color: #e2e2e2;
}
#app .page-wrapper footer {
  width: 100%;
  height: 60px;
  background-color: #000000;
}
