@import "partials/_commonAndColor";
#app {
  .page-wrapper {
    width : 100vw;
    max-width : 100%;
    height : 100vh;
    position : relative;
    .side {
      width : 60px;
      height : calc(100% - 60px);
      background-color : $sideBlue;
      &.left {
        position : absolute;
        left : 0;
        top : 0;
      }
      &.right {
        position : absolute;
        right : 0;
        top : 0;
      }
    }// end side
    header {
      width : calc(100% - 120px);
      height : 80px;
      background-color : $blackNavFoot;
      margin : 0px auto;
      nav {
        height : 100%;
        @include pageCenter;
        display : flex;
        align-items : center;
        justify-content : space-between;
        .logo-box {
          width : 50px;
          img {
            width : 100%;
            border-radius : 50%;
          }
        }
        .nav-rightSide {
          display : flex;
          .select-genre {
            select {
              margin-right : 15px;
              text-transform : capitalize;
            }
          }
          .search {
            input {
              padding-left : 5px;
              width : 250px;
            }
          }
        }
      }//end nav
    }// end header
    
    main {
      width : calc(100% - 120px);
      height : calc(100% - 140px);
      margin : 0px auto;
      background-color: $veryDarkGray;
      overflow-y : scroll;
     
      .main-centerPage {
        @include pageCenter;
        padding-top : 80px;
        position: relative;
        .error {
          width : 1000px;
          height : 500px;
          position: absolute;
          background-image: url("../images/error.png" );
          background-repeat: no-repeat;
          left: 50%;
          top:0;
          transform: translateX(-50%);
        }
        .cardsContainer {
          width : 100%;
          @include clearfix;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          .albumCard-box {
            margin-right : 30px;
            width : 280px;
            height : 380px;
            background-color : $blackNavFoot;
            padding : 15px;
            margin-bottom : 15px;
            .album-img {
              margin : 0px auto;
              width : 250px;
              height : 250px;
              img {
                width : 100%;
              }
              margin-bottom : 15px;
            }
            .album-title {
              text-align: center;
              color : $veryLightGray;
              margin-bottom : 15px;
            }
            .artist {
              text-align: center;
              color : $darkGray;
            }
            .year {
              text-align: center;
              color : $veryLightGray;
            }
          }//albumCard-box
        }
      }//main-centerPage
    } //main
    footer {
      width : 100%;
      height : 60px;
      background-color : $blackNavFoot;
    }
  }//end page wrapper
}//end app