* {
  margin : 0;
  padding : 0;
  box-sizing : border-box;
}


//colors
$sideBlue : #212d3a;//sidebars
$blackNavFoot : #000000; //nav & footer
$veryDarkGray : #191919; //main backg
$darkGray : #6a6a6a; // artisti font color
$veryLightGray : #e2e2e2; //title and year color font