@import "partials/_commonAndColor";
#app {
  .page-wrapper {
    width : 100vw;
    max-width : 100%;
    height : 100vh;
    position : relative;
    .side {
      width : 60px;
      height : calc(100% - 60px);
      background-color : $sideBlue;
      &.left {
        position : absolute;
        left : 0;
        top : 0;
      }
      &.right {
        position : absolute;
        right : 0;
        top : 0;
      }

    }
    header {
      width : calc(100% - 120px);
      height : 80px;
      background-color : $blackNavFoot;
      margin : 0px auto;
      nav {
        height : 100%;
        @include pageCenter;
        display : flex;
        align-items : center;
        .logo-box {
          width : 50px;
          img {
            width : 100%;
            border-radius : 50%;
          }
        }
      }
    }
    main {
      width : calc(100% - 120px);
      height : calc(100% - 140px);
      margin : 0px auto;
      background-color: $veryDarkGray;
      .main-centerPage {
        @include pageCenter;
        padding-top : 80px;
        width : calc((1200px/ 12) * 6);
        display : flex;
        justify-content: space-between;
        flex-wrap : wrap;
        //TODO===> stabilire quante card per ogni row
        .albumCard-box {
          display : inline-block;
          width : 180px;
          height : 260px;
          background-color : $blackNavFoot;
          padding : 15px;
          .album-img {
            margin : 0px auto;
            width : 150px;
            height : 150px;
            img {
              width : 100%;
            }
          }
        }//albumCard-box
      }//main-centerPage
    } //main
    footer {
      width : 100%;
      height : 60px;
      background-color : $blackNavFoot;
    }
  }
}